{% load static %}
{% with request.resolver_match.view_name as view_name %}

<header class="bg-dark text-white">
    <div class="container">
        <div class="d-flex align-items-center py-3">
            <!-- Логотип -->
            <a class="navbar-brand me-4" href="{% url 'homepage:index' %}">
                <img src="{% static 'img/logo.svg' %}" alt="Анфиса для друзей" height="40">
            </a>
            
            <!-- Навигация -->
            <nav class="navbar navbar-expand navbar-dark">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'homepage:index' %}active{% endif %}" 
                           href="{% url 'homepage:index' %}">
                            Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'ice_cream:ice_cream_list' %}active{% endif %}" 
                           href="{% url 'ice_cream:ice_cream_list' %}">
                            Каталог мороженого
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'about:description' %}active{% endif %}" 
                           href="{% url 'about:description' %}">
                            О проекте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

{% endwith %}